In [ ]:
import requests
import lxml.html as lh
import pandas as pd
from lxml import html

In [ ]:
url='https://www.a2oj.com/Ladder5.html'

In [ ]:
page = requests.get(url)

In [ ]:
doc = lh.fromstring(page.content)

In [ ]:
link = list(doc.iterlinks()) 
del link[0]
type(link[0][2])

In [ ]:
links = [tup[2] for tup in link]
links[0:5]

In [ ]:
tr_elements = doc.xpath('//tr')

In [ ]:
del tr_elements[:3]

In [ ]:
[len(T) for T in tr_elements[:12]]

In [ ]:
col=[]
i=0

for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print('%d:"%s"'%(i,name))
    col.append((name,[]))

In [13]:
for j in range(1,len(tr_elements)):
    T=tr_elements[j]
    
    if len(T)!=4:
        break
    i=0
    for t in T.iterchildren():
        data=t.text_content() 
        if i>0:
            try:
                data=int(data)
            except:
                pass
        col[i][1].append(data)
        i+=1

In [14]:
[len(C) for (title,C) in col]

[100, 100, 100, 100]

In [15]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [16]:
df.head()

  ID        Problem Name Online Judge  Difficulty Level
0  1          Watermelon   Codeforces                 1
1  2  Way Too Long Words   Codeforces                 1
2  3         String Task   Codeforces                 2
3  4   Petya and Strings   Codeforces                 1
4  5       Helpful Maths   Codeforces                 1

In [20]:
df.to_excel('Ladders/Codeforces Div. 2, A.xlsx', index = False)

In [52]:
df['link'] =links

In [53]:
df.head

<bound method NDFrame.head of      ID             Problem Name Online Judge  Difficulty Level  \
0     1               Watermelon   Codeforces                 1
1     2       Way Too Long Words   Codeforces                 1
2     3              String Task   Codeforces                 2
3     4        Petya and Strings   Codeforces                 1
4     5            Helpful Maths   Codeforces                 1
..  ...                      ...          ...               ...
95   96       Inna and Pink Pony   Codeforces                 5
96   97                 Nineteen   Codeforces                 4
97   98     Inna and Alarm Clock   Codeforces                 5
98   99  On Segment's Own Points   Codeforces                 6
99  100                   Cinema   Codeforces                 8

                                              link
0     http://codeforces.com/problemset/problem/4/A
1    http://codeforces.com/problemset/problem/71/A
2   http://codeforces.com/problemset/problem/118/A
3   http://codeforces.com/problemset/problem/112/A
4   http://codeforces.com/problemset/problem/339/A
..                                             ...
95  http://codeforces.com/problemset/problem/374/A
96  http://codeforces.com/problemset/problem/393/A
97  http://codeforces.com/problemset/problem/390/A
98  http://codeforces.com/problemset/problem/397/A
99  http://codeforces.com/problemset/problem/200/A

[100 rows x 5 columns]>

In [55]:
df.to_excel('Ladders/Codeforces Div. 2, A(1).xlsx', index = False)